.h1 {
  font-size: 1.5rem;
}
.h2 {
  font-size: 1.25rem;
}
.h3 {
  font-size: 1.125rem;
}
.navbar-text {
  font-size: 1.25rem;
  font-weight: bolder;
}
.title {
  font-size: 1.5rem;
  font-weight: bolder;
}
.sub-title {
  font-size: 1.25rem;
}
.subject {
  font-size: 1.125rem;
}
.text-content {
  font-size: 1.125rem;
  color: #9e9e9e;
}
.avatar {
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 1.5625rem;
}
